title: Intel Product Change Notifications

description: >-
  An indexable repository of Intel Product Change Notifications,
  so they can be searched and subscribed to.
url: "https://intel.pcn.captnemo.in"
plugins:
  - jekyll_sqlite
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-datapage-generator
  - jekyll-seo-tag
baseurl: /
exclude:
  - LICENSE
  - netlify.toml
  - pyproject.toml
  - requirements.txt
  - uv.lock
  - old.db
  - .sass-cache/
  - .jekyll-cache/
  - .venv
  - gemfiles/
  - _scripts
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
sass:
  sass_dir: _scss
  quiet_deps: true

sqlite:
- file: pcn.db
  query: SELECT * FROM pcns
  data: pcn
page_gen:

- data: pcn
  template: pcn
  dir: pcn
  index_files: true
  name: contentid
  title: systitle

- data: pcn
  template: json
  dir: api
  index_files: false
  extension: json
  name: contentid
  title: systitle
