[build]
  command = "bundle exec jekyll build"
  publish = "_site/"

[context.deploy-preview]
  command = """
  # Replace the Deploy URL with the Preview URL
  sed -i "/url\:/curl\: $DEPLOY_PRIME_URL" _config.yml
  bundle exec jekyll build
  """

[[plugins]]
package = "netlify-plugin-submit-sitemap"
