[build]
  command = """
  wget https://github.com/captn3m0/intel-pcn/releases/latest/download/pcn.db
  bundle exec jekyll build
  """
  publish = "_site/"

[[plugins]]
package = "netlify-plugin-submit-sitemap"
