---
---
$content-width:    100%;
$base-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
@charset "utf-8";
@import "minima";

// Width of the content area

.post-title {
  @include relative-font-size(1.5);
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1.25);
  }
}