---
layout: default
---

{{content}}

<style>
  table {
    border-collapse: collapse;
    width: 90%;
  }
  td:nth-child(2) {
	width: 70%;
  }
  td:nth-child(1) {
	font-weight: 600;
	font-family: monospace;
  }

</style>

<table>
	<thead>
		<tr>
			<th>PCN</th>
			<th>Title</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% assign pcns = site.data.pcn | sort:"createddate" | reverse %}
		{% for pcn in pcns %}
		<tr>
			<td>{{ pcn.contentid }}</td>
			<td><a href="/pcn/{{ pcn.contentid }}/">{{ pcn.systitle | title | remove: "®" | remove: "Intel "}}</a></td>
			<td data-order={{pcn.createddate}}>{{ pcn.createddate | divided_by:1000 | date_to_long_string }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

Created and maintained by <a href="https://captnemo.in">Nemo</a>. Source code 
on <a href="https://github.com/captn3m0/intel-pcn">GitHub</a>. Hoted at Netlify.