---
layout: default
sitemap: true
---

<p>{{page.description }}</p>

<table>
	<tbody>
		<tr>
			<th>Publish Date</th>
			<td>{{page.createddate|divided_by: 1000 | date_to_long_string}}</td>
		</tr>
		<tr>
			<th>PCN Number</th>
			<td><code>{{page.contentid}}</code></td>
		</tr>
		<tr>
			<th>PCN Title</th>
			<td>{{page.title}}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{{page.description}}</td>
		</tr>
		<tr>
			<th>Upstream PDF</th>
			<td><a href="{{page.sysuri}}">PCN-{{page.contentid}}.pdf</a></td>
		</tr>

		<tr>
			<th>Intel Website URL</th>
			<td><a href="https://intel.com{{page.secondaryurl}}">PCN {{page.contentid}} on Intel.com</a></td>
		</tr>

		<tr>
			<th>Type</th>
			<td>{{page.downloadtype}}</td>
		</tr>

		<tr>
			<th>API URL</th>
			<td>
				<a href="/api/{{page.contentid}}.json">/api/{{page.contentid}}.json</a>
			</td>
		</tr>
	</tbody>
</table>